.container {
  padding: 0 2rem;
  background: linear-gradient(
    90deg,
    var(--secondary-1) 3.25%,
    var(--secondary-2) 100%
  );
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left {
  border: "1px solid blue";
}

.right {
  border: "1px solid red";
}
