.container {
  padding: 0 2rem;
  background: linear-gradient(
    90deg,
    var(--secondary-1) 3.25%,
    var(--secondary-2) 100%
  );
}

.main {
  min-height: 100vh;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  margin-bottom: 1rem;
}

.copy {
  text-align: center;
}

.image {
  text-align: center;
}

.heroImage {
  width: 80%;
  height: auto;
  margin: 2rem 0;
}
.ctaLeft {
  display: none;
}
@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .main {
    width: 100%;
    max-width: 1512px;
  }
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .main {
    width: 100%;
    position: relative;
    flex-direction: row-reverse;
    gap: 2rem;
  }

  .copy {
    text-align: right;
    max-width: 521px;
  }

  .heroImage {
    width: 440px;
    height: auto;
    order: 1;
  }

  .ctaRight {
    display: none;
  }
  .ctaLeft {
    display: block;
  }
}
